@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,500,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  margin: 0;
  padding: 0;
}

html {
  padding: 0;
  margin: 0;
}

body {
  color: #595959;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  /* секция шапка*/
  /*главная секция */
  /* секция услуги */
}

body .title h2 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
  font-size: 40px;
  color: #6FAA03;
}

body .title h2 span {
  color: #595959;
}

body .navbar {
  background-color: #FFFFFF;
  padding-top: 30px;
}

body .navbar .overlay,
body .navbar .navBurger {
  display: none;
}

body .navbar .navBurger {
  z-index: 5;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background: #111;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

body .navbar .navBurger:before, body .navbar .navBurger:after {
  content: "";
  position: absolute;
  background: #111;
  height: 2px;
  width: 100%;
  right: 0;
  will-change: rotate;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .navbar .navBurger:before {
  top: -10px;
}

body .navbar .navBurger:after {
  bottom: -10px;
  width: 90%;
}

body .navbar .navBurger.active {
  background: transparent;
  background-clip: content-box;
}

body .navbar .navBurger.active:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
  background: #eee;
  width: 110%;
}

body .navbar .navBurger.active:after {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #eee;
  width: 110%;
}

body .navbar .overlay {
  z-index: 2;
  position: fixed;
  background: #9BDAE2;
  top: 0;
  right: 0;
  width: 90%;
  height: 90%;
  opacity: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

body .navbar .overlay.open {
  opacity: 0.99;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .navbar .overlay.open li {
  display: block;
  -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
          animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

body .navbar .overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

body .navbar .overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

body .navbar .overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

body .navbar .overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

body .navbar .overlayMenu {
  position: absolute;
  text-align: right;
  right: 10vw;
  bottom: 10%;
}

body .navbar .overlayMenu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100%;
}

body .navbar .overlayMenu ul li {
  display: block;
  position: relative;
  opacity: 0;
  width: 100%;
}

body .navbar .overlayMenu ul li a {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.09);
  color: #FFFFFF;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 20px 10px 40px;
  margin: 5px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 500;
}

body .navbar .overlayMenu ul li a:hover, body .navbar .overlayMenu ul li a:active, body .navbar .overlayMenu ul li a:focus {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  padding-left: 80px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.03);
}

body .navbar .locked {
  overflow: hidden;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body .navbar img {
  width: 80%;
}

body .navbar .logo {
  margin: 10px 0;
}

body .navbar .nav {
  font-weight: 700;
}

body .navbar .nav a {
  font-family: 'Ubuntu',sans-serif;
  color: #595959;
  position: relative;
  top: 25%;
  left: 3px;
  text-decoration: none;
  padding: 15px;
}

body .navbar .nav a:hover {
  color: #939393;
}

body .navbar .btn-namberTop button {
  display: block;
  position: relative;
  left: 10px;
  background-color: transparent;
  border: 2px solid #6DA702;
  border-radius: 30px;
  padding: 10px 35px;
}

body .navbar .btn-namberTop button a {
  font-size: 16px;
  color: #6DA702;
  text-decoration: none;
}

body .navbar .btn-namberTop button:focus {
  outline: none;
}

body .navbar .btn-namberTop button:hover {
  border: 2px solid #f5f5f5;
  -webkit-transition: all .4s;
  transition: all .4s;
}

body .navbar .btn-namberTop button img {
  vertical-align: middle;
  margin-right: 1px;
  width: 16px;
}

body main {
  font-weight: 700;
  margin: 20px 0;
  height: 600px;
}

body main .main-slider {
  max-width: 100%;
}

body main .main-slider .slick-active {
  outline: none;
}

body main .main-slider .slider-p {
  color: #FFFFFF;
  font-size: 48px;
  font-family: 'Ubuntu',sans-serif;
  position: relative;
  top: -450px;
  text-align: center;
}

body main .main-slider .slider-p span, body main .main-slider .slider-p small {
  margin-top: 100px;
  color: #6FAA03;
  background-color: #fff;
  padding: 5px 30px;
  border-radius: 3px;
}

body main .main-slider .slider-p small {
  font-size: 30px;
}

body main .main-slider .slick-dots {
  bottom: 400px;
}

body main .main-slider .slick-dots li button:before {
  font-size: 15px;
  color: #FFFFFF;
}

body main .main-slider img {
  width: 100%;
  height: 100%;
}

body .amenities {
  text-align: center;
  background-color: #FFFFFF;
  padding-top: 10px;
}

body .amenities .amenities-block {
  margin-top: 40px;
  padding: 100px 15px 60px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

body .amenities .amenities-block:hover {
  -webkit-box-shadow: 15px 15px 18px #f1f1f1;
          box-shadow: 15px 15px 18px #f1f1f1;
}

body .amenities img {
  width: 200px;
}

body .amenities h3, body .amenities p {
  font-size: 20px;
  font-weight: bold;
}

body .amenities h3 {
  color: #333333;
  margin: 30px 0 0 0;
}

body .amenities p {
  margin: 10px 0  30px 0;
  color: #6FAA03;
}

body .amenities a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #9BDAE2;
  padding: 10px 20px;
  border-radius: 30px;
  color: #939393;
}

body .amenities a:hover {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  color: #FFFFFF;
  background-color: #9BDAE2;
}

body .tocall {
  margin: 50px  0;
  background-image: url("../img/tocall/bg-tocall.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: #FFFFFF;
}

body .tocall h2 {
  padding-top: 180px;
  font-size: 40px;
}

body .tocall .tophone {
  margin: 60px auto;
}

body .tocall a {
  font-weight: bold;
  text-decoration: none;
  color: #595959;
  background-color: #fff;
  font-size: 18px;
  padding: 12px 22px;
  border-radius: 30px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

body .tocall a:hover {
  background-color: #595959;
  color: #FFFFFF;
  border: 1px solid transparent;
}

body .work {
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(75%, #fff)), url("../img/work/bg-work.png") no-repeat;
  background: linear-gradient(to top, transparent 0%, #fff 75%), url("../img/work/bg-work.png") no-repeat;
  background-size: cover;
  padding: 50px 15px;
  text-align: center;
}

body .work h2 {
  color: #2D8496;
}

body .work .work-blog {
  margin: 60px 0 0;
}

body .work h4 {
  font-size: 20px;
  font-weight: bold;
}

body .work img {
  width: 200px;
}

body .info {
  background-color: #FFFFFF;
  padding: 50px;
}

body .info h2 {
  color: #2D8496;
}

body .info p {
  padding: 15px 40px 15px 15px;
  font-size: 15px;
}

body .info .info-two {
  font-weight: bold;
}

body .info .info-two p {
  font-size: 14px;
  margin-top: 0;
  padding-top: 0;
}

body .info .info-three {
  color: #333333;
}

body .info .info-three p {
  font-size: 14px;
}

body .info .info-five {
  text-align: center;
  font-weight: bold;
}

body .info .info-five p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body .info .info-img {
  text-align: center;
}

body .info img {
  width: 200px;
  padding: 15px;
}

body .footer {
  margin: 0;
  background-image: url("../img/main-footer/bg-footer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 200px 15px 80px;
}

body .footer .nav .nav-footer a {
  color: #FFFFFF;
  position: relative;
  top: 20px;
}

body .footer .nav .nav-footer a:hover {
  color: #595959;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

body .footer .btn1 .btnBottom button {
  border: 2px solid #FFFFFF;
  top: 5px;
}

body .footer .btn1 .btnBottom button:hover {
  border-color: #ccc;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

body .footer .btn1 .btnBottom a {
  color: #FFFFFF;
}

body .footer .btn1 .btnBottom a:hover {
  color: #ccc;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

body footer {
  background-color: #383838;
  color: #939393;
  font-size: 16px;
}

body footer .row {
  padding: 70px 0 100px;
}

body footer ul, body footer a {
  color: #939393;
}

body footer a {
  text-decoration: none;
}

body footer a:hover {
  color: #ccc;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

body footer ul li {
  list-style-type: none;
  padding: 3px;
}

body footer .site {
  margin: 16px 0;
  text-align: right;
}

body footer #toTop {
  width: 100px;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  /* отступ кнопки от нижнего края страницы*/
  right: 10px;
  cursor: pointer;
  display: none;
  color: #333;
  color: #9BDAE2;
  font-family: verdana;
  font-size: 24px;
}

body .services {
  /* TABS */
  /* RESPONSIVE */
}

body .services *,
body .services *:before,
body .services *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body .services .container-tab {
  margin: auto;
  max-width: 991px;
  padding: 60px 20px 0 20px;
}

body .services .accordion-tabs {
  *zoom: 1;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 0.1875em;
  margin-bottom: 1.5em;
  margin-left: 0;
  padding-left: 0;
}

body .services .accordion-tabs:before,
body .services .accordion-tabs:after {
  content: " ";
  display: table;
}

body .services .accordion-tabs:after {
  clear: both;
}

body .services .accordion-tabs li {
  list-style: none;
}

body .services .accordion-tabs li.tab-head-cont:first-child a {
  border-top-left-radius: 0.1875em;
  border-top-right-radius: 0.1875em;
  border-top: 0;
}

body .services .accordion-tabs li.tab-head-cont:last-child a {
  border-bottom-left-radius: 0.1875em;
  border-bottom-right-radius: 0.1875em;
}

body .services .accordion-tabs li.tab-head-cont a {
  text-decoration: none;
  border-top: 1px solid #dddddd;
  color: #2D8496;
  display: block;
  padding: 0.75em 0.809em;
}

body .services .accordion-tabs li.tab-head-cont a:hover {
  color: #cc5755;
}

body .services .accordion-tabs li.tab-head-cont a:focus {
  outline: none;
}

body .services .accordion-tabs li.tab-head-cont a.is-active {
  background-color: #f7f7f7;
  border-bottom: 0;
  color: #333333;
}

body .services .accordion-tabs li.tab-head-cont section {
  padding: 1.5em 1.618em;
  background: #FFFFFF;
  display: none;
  overflow: hidden;
  width: 100%;
}

body .services h2 {
  color: #2D8496;
  font-weight: 500;
}

body .services h4 {
  text-align: center;
  padding-top: 20px;
  color: #333333;
  font-size: 16px;
}

body .services img {
  margin-top: 5px;
  margin-right: 10px;
}

@media screen and (min-width: 40em) {
  body .services .accordion-tabs {
    border: none;
    position: relative;
  }
  body .services .accordion-tabs li.tab-head-cont {
    display: inline;
  }
  body .services .accordion-tabs li.tab-head-cont:last-child a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  body .services .accordion-tabs li.tab-head-cont a {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    border-top: 0;
    border-top-right-radius: 0.1875em;
    border-top-left-radius: 0.1875em;
    font-size: 18px;
  }
  body .services .accordion-tabs li.tab-head-cont a.is-active {
    color: #cc5755;
    background-color: #FFFFFF;
    border-bottom: 1px solid #cc5755;
    margin-bottom: -1px;
  }
  body .services .accordion-tabs li.tab-head-cont section {
    border-bottom-left-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em;
    float: left;
    left: 0;
    padding: 0.75em 0.809em;
  }
  body .services .accordion-tabs li.tab-head-cont section p {
    -webkit-columns: 2;
    columns: 2;
  }
}

body .cleaningProducts {
  /*allery */
  /*
=lightbox
*/
}

body .cleaningProducts .blog {
  margin-top: 50px;
}

body .cleaningProducts .cleaning-logo {
  text-align: center;
}

body .cleaningProducts h2 {
  color: #333333;
  font-size: 22px;
}

body .cleaningProducts img {
  max-width: 100%;
}

body .cleaningProducts .gallery {
  width: 100%;
  margin: 0 auto;
}

body .cleaningProducts .img-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

body .cleaningProducts .img-list li {
  display: inline-block;
  list-style: none;
}

body .cleaningProducts .img-list img {
  margin: 20px;
  -webkit-box-shadow: 2px 10px 10px rgba(45, 132, 150, 0.5);
          box-shadow: 2px 10px 10px rgba(45, 132, 150, 0.5);
  max-width: 100%;
  height: 150px;
}

body .cleaningProducts .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px 0;
  display: none;
  overflow-y: auto;
}

body .cleaningProducts .overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 132, 150, 0.8);
}

body .cleaningProducts .lightbox figure {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 80%;
  max-width: 400px;
}

body .cleaningProducts .next,
body .cleaningProducts .prev {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  margin: 15px 10px;
  cursor: pointer;
}

body .cleaningProducts .prev {
  left: 0px;
}

body .reviews {
  margin-top: 50px;
}

body .reviews-box {
  max-width: 700px;
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0 0 12px rgba(51, 51, 51, 0.5);
          box-shadow: 0 0 12px rgba(51, 51, 51, 0.5);
}

body .reviews-box h4 {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  margin: 14px;
}

body .reviews-box .img-face {
  text-align: right;
}

body .reviews-box .img-face img {
  border-radius: 150px;
  width: 100px;
  height: 100px;
  margin: 0;
}

body .reviews-box img {
  margin: 14px;
}

body .reviews-box p {
  font-weight: 200;
  font-size: 16px;
}

body .contacts {
  margin: 40px  0 40px 30px;
  background-color: #FFFFFF;
}

body .contacts h4 {
  margin: 20px 0;
  font-size: 24px;
  color: #2D8496;
  font-weight: 200;
}

body .contacts .contact-info {
  font-size: 20px;
  font-weight: 200;
  padding: 0;
  color: #333333;
}

body .contacts .contact-info li {
  list-style-type: none;
  margin: 10px 0;
}

body .contacts .contact-info li a {
  text-decoration: none;
  color: #333333;
}

body .contacts .form input {
  width: 400px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

body .contacts .form button {
  width: 400px;
  border: 1px solid transparent;
  background: #138291;
  color: #FFFFFF;
  padding: 10px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

body .contacts .form button:hover {
  background-color: #FFFFFF;
  color: #2D8496;
  border: 1px solid #2D8496;
}

@media (max-width: 1200px) {
  body .navbar .nav a {
    left: 0;
    padding: 10px 5px;
  }
  body .navbar .btn-namberTop button a {
    font-size: 14px;
  }
  body .navbar .btn-namberTop button img {
    width: 12px;
    margin-right: 8px;
  }
  body main {
    height: 450px !important;
  }
  body main .slider-p {
    top: -350px !important;
    font-size: 45px !important;
  }
  body main .slick-dots {
    bottom: 350px !important;
  }
  body .amenities img {
    width: 180px;
  }
  body .amenities h3, body .amenities p {
    font-size: 16px;
  }
  body .tocall {
    height: 80vh;
  }
  body .tocall h2 {
    padding-top: 130px;
  }
}

@media (max-width: 991px) {
  body .navbar {
    text-align: center;
  }
  body .navbar .logo {
    display: block;
  }
  body .navbar .nav {
    margin-top: 5px;
  }
  body .navbar .nav a {
    padding: 10px 10px;
    font-size: 16px;
  }
  body .navbar .nav a:hover {
    color: #939393;
  }
  body .navbar .btn1 {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .navbar .btn-namberTop button {
    left: 0;
  }
  body .navbar .btn-namberTop button a {
    font-size: 14px;
  }
  body .navbar .btn-namberTop button img {
    width: 16px;
    margin-right: 8px;
  }
  body main {
    height: 400px !important;
  }
  body main .slider-p {
    top: -300px !important;
    font-size: 40px !important;
  }
  body main .slick-dots {
    bottom: 280px !important;
  }
  body .amenities .amenities-block {
    margin-top: 0;
  }
  body .amenities img {
    width: 140px;
  }
  body .amenities h3,
  body .amenities p {
    font-size: 10px;
  }
  body .tocall h2 {
    padding-top: 110px;
    font-size: 30px;
  }
  body .tocall .tophone {
    margin: 35px auto;
  }
  body .footer {
    padding: 60px 15px 0;
  }
  body .footer .btn1 .btnBottom button {
    margin: 20px;
  }
  body .services .accordion-tabs li.tab-head-cont a {
    font-size: 14px;
  }
  body .reviews .img-face {
    text-align: center;
  }
  body .contacts .form input, body .contacts .form button {
    width: 340px;
  }
}

@media (max-width: 768px) {
  body .navbar .nav {
    display: none;
  }
  body .navbar .overlay, body .navbar .navBurger {
    display: block;
  }
  body main {
    height: 300px !important;
  }
  body main .slider-p {
    top: -210px !important;
    font-size: 25px !important;
  }
  body main .slider-p small {
    font-size: 20px !important;
  }
  body main .slick-dots {
    bottom: 230px !important;
  }
  body main .slick-dots li button:before {
    font-size: 10px !important;
  }
  body .tocall h2 {
    padding-top: 90px;
    font-size: 20px;
  }
  body .tocall a {
    font-size: 14px;
  }
  body .info {
    padding: 0;
  }
  body .info .title {
    margin-top: 50px;
  }
  body .info p {
    padding: 15px;
  }
  body .info .info-two p {
    font-size: 13px;
  }
  body .info .info-five p {
    font-size: 14px;
  }
  body .info img {
    width: 120px;
    padding: 5px;
  }
  body .footer {
    background-size: 150%;
    height: 250px;
  }
  body .footer .btn1 .btnBottom button {
    margin: 10px 0 20px 0;
  }
  body footer .site {
    text-align: left;
  }
  body .services .accordion-tabs li.tab-head-cont a {
    font-size: 12px;
  }
  body .bg-img img {
    width: 300px;
  }
  body .cleaningProducts h2 {
    text-align: center;
  }
  body .cleaningProducts .img-list img {
    margin: 5px;
  }
  body .reviews .img-face {
    text-align: left;
  }
  body .contacts .form input, body .contacts .form button {
    width: 300px;
  }
}

@media (max-width: 420px) {
  body .navbar img {
    width: 70%;
  }
  body .navbar .btn-namberTop
button {
    padding: 11px 35px;
  }
  body main {
    height: 200px !important;
    margin-top: 25px !important;
  }
  body main .slider-p {
    top: -130px !important;
    font-size: 16px !important;
  }
  body main .slider-p small {
    font-size: 10px !important;
  }
  body main .slider-p span, body main .slider-p small {
    padding: 5px 10px !important;
  }
  body main .slick-dots {
    bottom: 110px !important;
  }
  body main .slick-dots li button:before {
    font-size: 4px !important;
  }
  body .amenities .amenities-block {
    padding-top: 80px;
  }
  body .amenities h2 {
    font-size: 20px;
    font-weight: 700;
  }
  body .amenities img {
    width: 200px;
  }
  body .amenities h3, body .amenities p {
    font-size: 20px;
  }
  body .tocall {
    height: 40vh;
  }
  body .tocall h2 {
    padding-top: 40px;
    font-size: 17px;
  }
  body .tocall .tophone {
    margin-top: 80px;
  }
  body .tocall a {
    border: 2px solid #2D8496;
  }
  body .work .title h2 {
    font-size: 20px;
    font-weight: bold;
  }
  body .info .title h2 {
    font-size: 20px;
    font-weight: bold;
  }
  body .info img {
    width: 200px;
    padding: 5px;
  }
  body .footer {
    background-size: cover;
    padding: 60px 15px;
    height: auto;
  }
  body .footer .btn-namberTop .btnBottom button {
    margin: 5px;
  }
  body footer {
    font-size: 14px;
  }
  body footer ul {
    padding: 0;
  }
  body footer ul li {
    padding: 10px;
  }
  body .services .accordion-tabs li.tab-head-cont a {
    font-size: 18px;
  }
  body .reviews-box img {
    margin: 5px;
  }
  body .reviews h4 {
    font-size: 14px;
    margin: 5px;
  }
  body .reviews p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */