// @import url('https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,700&display=swap&subset=cyrillic');

$color-white:#FFFFFF;
$color-text2:#333333;
$color-text:#595959;
$color-green:#6FAA03;
$color-blue-light:#9BDAE2;
$color-blue:#2D8496;
$color-border-blue:#9BDAE2;
$color-border-green:#6DA702;
$color-gray:#939393;
$color-bgfooter:#383838;