* {
	box-sizing: border-box;
}
.row {
	margin: 0;
	padding: 0;
}
html {
	padding: 0;
	margin: 0;
}
@import 'color';
 body {
	.title {
		h2 {
			text-align: center;
			font-family: 'Ubuntu', sans-serif; 
			font-weight: 200; 
			font-size: 40px;
			color: $color-green;
			span {
				color: $color-text;
			}
		}
	}
	 color:$color-text;
	 font-size: 14px;
	font-family: 'Ubuntu', sans-serif; 
/* секция шапка*/
	.navbar { 
		background-color:$color-white;
		.overlay,
		.navBurger {
						display: none;
					}
		.navBurger { 
			z-index: 5;
			position: fixed;
			right: 20px;
			top: 20px;
			cursor: pointer;
			background: #111;
			box-sizing: border-box;
			background-clip: content-box;
			width: 30px;
			height: 24px;
			border-top: 11px solid transparent;
			border-bottom: 11px solid transparent;
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;

			&:before,
			&:after {
				content: "";
				position: absolute;
				background: #111;
				height: 2px;
				width: 100%;
				right: 0;
				will-change: rotate;
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}

			&:before {
				top: -10px;
			}

			&:after {
				bottom: -10px;
				width: 90%;
			}

			&.active {
				background: transparent;
				background-clip: content-box;
			}

			&.active:before {
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
				top: 0;
				background: #eee;
				width: 110%;
			}

			&.active:after {
				bottom: 0;
				-webkit-transform: rotate(-135deg);
				transform: rotate(-135deg);
				background: #eee;
				width: 110%;
			}
		}

		.overlay {
			z-index: 2;
			position: fixed;
			background:$color-blue-light;
			top: 0;
			right: 0;
			width: 90%;
			height: 90%;
			opacity: 0;
			transform-origin: right top;
			transform: scale(0);
			visibility: hidden;
			transition: all 0.4s ease-in-out;
			overflow: hidden;

			&.open {
				opacity: 0.99;
				visibility: visible;
				transform: scale(1);

				li {
					display: block;
					animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
					animation-delay: 0.4s;
					transform: rotate(-7deg);
					transform-origin: right bottom;

					&:nth-of-type(2) {
						animation-delay: 0.5s;
					}

					&:nth-of-type(3) {
						animation-delay: 0.6s;
					}

					&:nth-of-type(4) {
						animation-delay: 0.7s;
					}

					&:nth-of-type(5) {
						animation-delay: 0.8s;
					}
				}
			}
		}

		.overlayMenu {
			position: absolute;
			text-align: right;
			right: 10vw;
			bottom: 10%;

			ul {
				list-style: none;
				padding: 0;
				margin: 0 auto;
				display: block;
				position: relative;
				height: 100%;

				li {
					display: block;
					position: relative;
					opacity: 0;
					width: 100%;

					a {
						display: inline-block;
						border: 1px solid rgba($color-white, 0.09);
						color: $color-white;
						text-decoration: none;
						font-size: 30px;
						padding: 10px 20px 10px 40px;
						margin: 5px 0;
						transition: 0.2s;
						font-family: 'Ubuntu',sans-serif;
						font-weight: 500;

						&:hover,
						&:active,
						&:focus {
							transform: translateX(-2px);
							padding-left: 80px;
							outline: 1px solid rgba($color-white, 0.3);
							background: rgba(255, 255, 255, 0.03);
						}
					}
				}
			}
		}

		.locked {
			overflow: hidden;
		}

		@keyframes fadeInRight {
			0% {
				opacity: 0;
				left: 50px;
			}

			100% {
				opacity: 1;
				left: 0;
				transform: rotate(0deg);
			}
		}
		padding-top: 30px;
		img {
			width: 80%;
		}
	.logo {
		margin: 10px 0;
	}
	.nav {
		font-weight: 700;
			a {
				font-family: 'Ubuntu',sans-serif;
				color: #595959;
				position: relative;
				top: 25%;
				left: 3px;
				text-decoration: none;
				padding:  15px;
				&:hover {
					color: $color-gray;
				}
			}
		}

		.btn-namberTop {
			button {
				a {
					font-size: 16px;
					color: $color-border-green;
					text-decoration: none;
				}
				display: block;
				position: relative;
				left: 10px;
				background-color: transparent;
				border: 2px solid $color-border-green;
				border-radius: 30px;
				padding: 10px 35px;
					&:focus {
						outline: none;
					}
					&:hover {
						border:2px solid #f5f5f5;
						transition: all .4s;
					}
				img {
					vertical-align: middle;
					margin-right: 1px;
					width:16px;
				}
				}

			}
	}
	
	
	@import 'main';
	@import 'amenities';
	@import 'tocall';
	@import 'work';
	@import 'info';
	@import 'mainfooter';
	@import 'footer';
	@import 'services';
	@import 'cleaning';
	@import 'reviews';
	@import 'contacts';
	@import 'mobile';
 }